body {
    font-size: 14px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

h4{
    font-weight: bold;
}
.form-control {
    font-size: 14px;
}

.btn {
    font-size: 14px;
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: center;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
.table > tbody > tr > td {
    border-top: 1px solid #ddd;
}
th {
    cursor: pointer;
}
/*Fixed Header Scrolling Table*/
