body {
    font-size: 14px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.dropdown-menu {
    font-size: 14px;
}

h4{
    font-weight: bold;
}
.form-control {
    font-size: 14px;
}

.btn {
    font-size: 14px;
}
table, thead, th, td, tr {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 2px;
    text-align: center;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-top: 1px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #ddd;
}

.table > tbody > tr > td {
    border-top: 1px solid #ddd;
}
th {
    cursor: pointer;
}
/*Fixed Header Scrolling Table*/
/*table {*/
    /*!*clear: both;*!*/
    /*!*overflow:hidden;*!*/
    /*overflow:auto;*/
    /*!*overflow-y: scroll;*!*/
    /*height:200px;*/
    /*display: block;*/
    /*!*width: 900px;*!*/
/*}*/

table {
    max-width:100%;
    /*max-width:980px;*/
    table-layout:fixed;
    margin:auto;
}
th, td {
    padding:0px 0px;
    /*border:1px solid #000;*/
}
.theadScrollable {
    /*background:#f9f9f9;*/
    display:table;
    width:100%;
    /*width:calc(100% - 18px);*/
}
.tbodyScrollable {
    height:300px;
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;
}
.tbodyScrollable tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
